*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    background-color: rgb(2, 126, 163);
    color: white;
}
.main{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
}
.first{
    display: inline-block;
    width: 600px;
}
.result{
    display: inline-block;
    width: 600px;
    height: auto;
}
.I_text{
    display: inline-block;
    height: 25px;
    width: 120px;
    border-radius: 12px;
    
}
::-webkit-input-placeholder  { color:rgb(255, 255, 255); }
.I_submit{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 25px;
    border-radius: 12px;
    border-color: aliceblue;
    margin-bottom: 30px;
}
.show_result{
    display: block;
}
.TS7{
    font-size: 70px;
}
.TS3{
    font-size: 20px;
}